body {
  font-family: 'Tahoma';
  font-size: 16px;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
}

/* centering and aligning h1 and p */
h1,
p {
  margin: 1em auto;
  text-align: center;
}

label {
  display: block;
  margin: 0.5rem 0;
}

/* center the form and give it max/min size */
form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding-bottom: 2em;
}
/* remove fieldset border */
fieldset {
  border: none;
  padding: 2rem 0; /* only to top/btm and 0 to left/right */
  /* give separations */
  border-bottom: 3px solid #3b3b4f;
}

/* target the last fieldset with pseudo-class */
fieldset:last-of-type {
  border-bottom: none;
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 0;
  min-height: 2em;
}

.inline {
  width: unset; /* removes the earlier rule width 100% (only for inputs in second fieldset) */
  /* some space btwen inmline elm and labels text */
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

/* using an att selector */
input[type='submit'] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type='file'] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2;
}
