body {
  background-color: #b3a2a2;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.color-box {
  background-color: rgb(0, 0, 0);
  display: inline-block;
  width: 320px;
  height: 50px;
  margin: 5px 5px;
  padding: 10px;
  border-radius: 15%;
}

.color1 {
  background-color: #ffe4c4;
  width: 60px;
}

.color2 {
  background-color: rgb(95, 158, 160);
  width: 60px;
}

.color3 {
  background-color: antiquewhite;
  width: 60px;
}

.color4 {
  background-color: hsl(155, 50%, 75%);
  width: 60px;
}

.color5 {
  background-color: rgb(225, 63, 63);
  width: 60px;
}
